.form {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
.form_input {
  display: block;
}
.form_label {
  margin-bottom: 10px;
}
.form_btn {
  background-color: white;
  color: black;
  border-radius: 5px;
  cursor: pointer;
}
.form_btn:hover,
.form_btn:focus {
  background-color: blue;
  color: white;
}
